doctype xml
//- Adding mixins
include mixins/impuestos
//-
    Atributos requeridos: fecha, sello, noCertificado, certificado, subTotal, total, moneda, tipoDeComprobante y lugarExpedicion
    Atributos opcionales: serie, folio, formaPago, condicionesDePago, descuento, tipoCambio, metodoPago y confirmacion
cfdi:Comprobante(
    xsi:schemaLocation="http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cfdi="http://www.sat.gob.mx/cfd/3"
    xmlns:nomina12=nomina ? "http://www.sat.gob.mx/nomina12" : null
    xmlns:pago10=pagos ? "http://www.sat.gob.mx/Pagos" : null
    xmlns:cce11=comercioExterior ? "http://www.sat.gob.mx/ComercioExterior11" : null
    Version=3.3
    Serie=serie
    Folio=folio
    Fecha=fecha
    Sello=sello
    Certificado=certificado
    NoCertificado=noCertificado
    FormaPago=formaPago
    CondicionesDePago=condicionesDePago
    SubTotal=subTotal
    Descuento=descuento
    Moneda=moneda
    TipoCambio=tipoCambio
    Total=total
    TipoDeComprobante=tipoDeComprobante
    MetodoPago=metodoPago
    LugarExpedicion=lugarExpedicion
    Confirmacion=confirmacion
)
    //- Including relacionados
    include relacionados
    //- Including emisor
    include emisor
    //- Including receptor
    include receptor
    //- Including concepts
    include conceptos
    //- Including taxes
    +addTaxes(impuestos)
    //- Including complements
    if complementos
        cfdi:Complemento
            //- Including nomina12
            include complementos/nomina12/index
            include complementos/pago10/index
            include complementos/comercio11/index
