pago10:DoctoRelacionado(
	IdDocumento=docRelacionado.idDocumento
	Serie=docRelacionado.serie
	Folio=docRelacionado.folio
	MonedaDR=docRelacionado.monedaDR
	TipoCambioDR=docRelacionado.tipoCambioDR
	MetodoDePagoDR=docRelacionado.metodoDePagoDR
	NumParcialidad=docRelacionado.numParcialidad
	ImpSaldoAnt=docRelacionado.impSaldoAnt
	ImpPagado=docRelacionado.impPagado
	ImpSaldoInsoluto=docRelacionado.impSaldoInsoluto
)
